.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: bisque;
}

.products-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    img {
      width: 100%;
      max-width: 200px;
      border-radius: 10px;
    }

    h2 p {
      margin: 0;
    }
  }
}

.line-error {
  height: 0;
  border-bottom: 1px solid;

  &.invalid {
    border-color: red;
  }

  &.valid {
    border-color: green;
  }
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalid {
    opacity: 1;
  }
}

@media screen and(min-width:40em) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
