<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Name:</label>
    <input autocomplete="name" name="name" type="text" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>

  <div class="input-group">
    <label for="email">Email:</label>
    <input autocomplete="email" name="email" type="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>


  <div class="input-group">
    <label for="password">Password:</label>
    <input autocomplete="current-password" name="password" required type="password" id="password"
      [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>

  <input [disabled]="myForm.invalid" type="submit" value="Send">
</form>



<hr>


<h1>ngClass & ngStyle</h1>
<P>Nombre: {{person.name}}</P>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [ngClass]="{
  'valid':nameInput.valid,
  'invalid': nameInput.invalid
}" />

<input type="text" [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">es nicolas</p>
  <p *ngSwitchCase="'javier'">es javier</p>
  <p *ngSwitchCase="'luis'">es luis</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>


<hr>
<h1>*ngFor para arrays</h1>

<div class="products-grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>





<hr>

<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">add name</button>
<ul>
  <p *ngIf="names.length === 0">Lista vacia</p>
  <li *ngFor="let name of names; index as i">
    {{i}} - {{name}}
    <button (click)="deleteName(i)">delete</button>
  </li>
</ul>

<hr>



<h1>Uso de *ngIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name == 'Javier'; else elseBlock">soy javier</p>
<p *ngIf="person.name == 'Nico' && person.age >= 18">soy nico</p>

<!-- esto es un else -->
<ng-template #elseBlock>
  <p>bloque cuando no se cumple</p>
</ng-template>


<hr>
<h1>NGMODEL</h1>
<P>Nombre: {{person.name}}</P>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput.invalid">Valid: {{nameInput.valid}}</p>

<P>Age: {{person.age}}</P>
<input type="number" max="38" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<p [style.font-style]="ageInput.invalid ? 'italic': 'normal'">Valid: {{ageInput.valid}}</p>

<hr>
<h1>{{title}}</h1>
<input type="text" [value]="title">
<button [disabled]="btnSendEnable">Send</button>

<hr>
<h1>Event Binding</h1>
<button (click)="onSave()">Save</button>
<p>Edad {{person.age}}</p>
<button (click)="addAge()">Add Age</button>

<hr>
<h1>Evento con event</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iusto atque, provident est corporis totam harum
    dolorum minus. Optio modi blanditiis tempore molestiae possimus libero culpa id rerum asperiores eveniet.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iusto atque, provident est corporis totam harum
    dolorum minus. Optio modi blanditiis tempore molestiae possimus libero culpa id rerum asperiores eveniet.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iusto atque, provident est corporis totam harum
    dolorum minus. Optio modi blanditiis tempore molestiae possimus libero culpa id rerum asperiores eveniet.</p>
</div>

<input type="text" name="name2" id="name1" (keyup)="onChangeName($event)">
